<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./edit.css">
    <link rel="stylesheet" href="./book.css">
    <script src="./vue.global.js"></script>
</head>
<body>
<script type="module">
    const {createApp} = Vue
    createApp({
        data() {
            return {
                article_url: "",
                select_sign: '0',
            }
        },
        methods: {
            change_article_url(e, select_sign) {
                this.article_url = e.currentTarget.id
                this.select_sign = select_sign
            }
        },

    }).mount('#app')
</script>
<div id="app" class="book without-animation with-summary"
     data-level="0.2"
     data-chapter-title="工作区暂存区和仓库区"
     data-filepath="gong-zuo-qu-zan-cun-qu-he-cang-ku-qu.md"
     data-basepath="."
     data-revision="Fri Aug 31 2018 18:21:49 GMT+0800 (CST)"
     data-innerlanguage="">

    <div class="book-summary">
        <ul class="summary">
            <li class="chapter active" data-level="0" data-path="index.html">
                <a id="./index.html">
                    <i class="fa fa-check"></i>
                    {{ book_name }}
                </a>
            </li>

            {% for article_info in article_info_list %}
                <li class="chapter " data-level="0.1" data-path="{{ article_info.path }}">
                    <a id="{{ article_info.path }}"
                       @click='change_article_url($event,{{ loop.index }} )'
                       :style="{'color':select_sign==={{ loop.index }}?'#008cff':''}"
                       title="{{ article_info.name }}">
                        <i class="fa fa-check"></i>
                        <b>{{ loop.index }}.</b>
                        {{ article_info.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="book-body">
        <iframe :src="article_url"
                width="100%" height="100%" frameborder="no"
                align="center"></iframe>
    </div>
</div>
</body>
</html>